body {
    padding: 10px;
}

#list{
    margin: 15px 5px 10px 5px;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid gray;
    /*border-bottom: 1px solid gray;*/
    display: flex;
}

#image_container{
    width: 450px;
    height: 250px;
    margin: 0 20px 0 10px;
    text-align: center;
}

#list_image{
    max-height: 100%;
    max-width: 100%;
}

input{
    width: 100%;
}


