{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div id="list">
    
        <div id="image_container">
            <a href = "{% url 'item' listing.id %}"><img id="list_image" src="{{listing.image}}" alt="Image of item"></a>
        </div>

        <div>
           <div><h3> <a href = "{% url 'item' listing.id %}">{{ listing.name }} </a></h3></div>
           <div> Price: ${{ listing.start_bid }} </div>
            <div>{{ listing.desc }}</div>
        </div>
        
    </div>
    {% endfor %}

{% endblock %}