{% extends "auctions/layout.html" %}           

{% block title%} {{item.name}} {% endblock %}
{% block body %}

    <h2>{{item.name}}</h2>

    <div>
        <div>
            <img src="{{item.image}}" alt="Image of item">
        </div>

        <div>
            <div>{{ item.desc }} </div>
            <div>
            {% if bid %}
                Current Bid: ${{bid.bid}} 
            {% else %}
                Current Bid: ${{item.start_bid}} 
            {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <a href = "{% url 'watchlist' item.id %}"><button type="button">{{watch}}</button></a>

    <form action="{% url 'bid' item.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Place Bid">
    </form>

    {% else %}
        
    {% endif %}

{% endblock %}